{
  "extends": [
    "anvilabs",
    "anvilabs/jest",
    "anvilabs/lodash"
  ],
  "rules": {
    "no-console": 0,

    "promise/prefer-await-to-callbacks": 0,
    "promise/prefer-await-to-then": 0
  }
}
